<mat-toolbar color="primary" class="mat-elevation-z8" style="justify-content: space-between;">
  <a mat-button routerLink="dashboard">
    <h4>
      <mat-icon color="accent" style="vertical-align: middle">dashboard</mat-icon>
      <span style="vertical-align: middle">Dashboard</span>
    </h4>
  </a>
  <a mat-button routerLink="enterGame">
    <h4>
      <mat-icon color="accent" style="vertical-align: middle">games</mat-icon>
      <span style="vertical-align: middle">Enter Game</span>
    </h4>
  </a>
  <a mat-button routerLink="addPlayer">
    <h4>
      <mat-icon color="accent" style="vertical-align: middle">account_box</mat-icon>
      <span style="vertical-align: middle">Add Player</span>
    </h4>
  </a>
</mat-toolbar>
<main [@routerAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>